@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*Reset and Common Styles*/
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Open Sans",serif;
    font-weight: 400;
}
html{
    font-size: 62.5%;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* End of Common Styles */

.section-1{
    width:100%;
    height: 100vh;
    background:url(sahyadri.jpg)  no-repeat;
     background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .section-1-heading{
        font-size: 7rem;
        font-weight: 700;
        color:#fff ;
    }
    .description{
        font-size: 2rem;
        font-weight: 700;
        color:#fff ;
    }
    /*Navbar */

.navbar{
    width: 100%;
    height: 4rem;
    background-color:#47A992;
    box-shadow: .2rem .2rem .5rem #555;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

}
.navbar-link{
    font-size:1.7rem ;
    font-weight: 600;
    color: #333;
    margin: 0 3rem;
    letter-spacing: 0.3rem;
    transform: uppercase;
    position: relative;
transition: color 0.2s;
}
.navbar-link:hover{
   color: #fff; 
}
.navbar-link::before{
    content: "";
    width: 0;
    height: 0.2rem;
    background-color: #fff;
    position: absolute;
    right: -15%;
    bottom: -.3rem;
transition: width 0.2s;
}
.navbar-link:hover::before{
    width: 130%;
}
/*End of the Navbar */
.section-2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 9rem;
   

}
.section-2-heading{
    font-size: 4rem;
    font-weight: 700;  
    background-color:#0E8388;
  color: #fff;
width: 70rem;
letter-spacing: .3rem;
transform: skew(-10deg);
box-shadow: 0.2rem 0.2rem 0.5rem #555;
text-align: center;
z-index: -1;
}
.section-2 p{
    margin: 3rem 5rem;
    padding: 5rem;
    font-size: 2rem;
    font-weight: 600;
    text-align: justify; 
    background-color: aqua;
 

}
.maharastra-map{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.maha{
    height: 50rem;
    width: 50rem;
    object-fit: contain;
}
button{
    margin: 5rem;
  
}

.btn{
    background-color: #0E8388;
    color: #fff;
    border-radius: 7px;
    width: 20rem;
    height: 5rem;
    cursor: pointer;
    
}
.head-2{
    font-size: 3rem;
    font-weight: 700;
    margin: 2rem;
}
/*footer*/
footer{
    width: 100%;
    height: 10vh;
    color: #fff;
    background-color: #2E4F4F;

}
.footer-heading{

    
    font-weight: 700;
}
/*End of Footer*/